<div class="container-fluid">
  <div class="row row-flex">
    <div class="col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="card card-box fixed-h">
        <div class="card-head">
          <header>About Us</header>
          <div class="tools">
            <a routerLink="/about-us/edit" aria-label="Edit" class="btn btn-tbl-edit btn-xs hint--bottom">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 about-us">
              <div class="info-desc-item">
                <p>Printo was founded by a motley crew from Bombay - a life science graduate and software engineer who
                  knew very little about software, and even less about print! They were soon joined by a few more
                  diehards, including a print engineer and a pre-press expert (finally, someone from print!). The
                  founding team was disappointed with the lack of professional print services for young businesses and
                  individuals, most of who had orders that were too small for the higher quality printers. What was
                  initially started out as a print store only for businesses, eventually became a store that provided
                  printing services to all.

                  It was born out of a vision to create a place run by happy people who delivered happy customers and
                  catered to the printing needs of almost everyone. With some inspired teamwork, peppered liberally with
                  start-up mistakes, Printo’s initial crew slowly built a business that is known today for its steadfast
                  service and colourfast printing. Printo makes printing easy!</p>

                <p>Printo is a retail chain that offers print and document services all under one roof. We aim to make
                  printing a simple and hassle-free process for both business customers and individuals. Together we can
                  work with you to create anything from business cards, letterheads, marketing brochures or exhibition
                  banners. We even have a library of templates for you to choose from to make invitations cards, create
                  personalized gifts and process photo prints at cost-effective prices.

                  Our mission is two-fold. Firstly, it is to put a smile on the customer’s face by making their printing
                  experience easy. The other is to achieve scalability and efficiency without compromising the quality
                  of the service. In a short while, Printo has emerged as a leader as India’s first professional print
                  retail chain that stands for quality and customer service. We’ve brought together an experienced team
                  of professionals across industry segments, from retail, software, printing and manufacturing to make
                  this process extremely simple.

                  You can reach us through any of the following ways:

                  1) At any Printo store located near yocu.

                  2) You can place orders online at www.printo.in

                  3) Call us at (+91 924 340 6106)

                  What's even better is that we deliver the prints anywhere in India making print buying as easy and
                  stress-free as possible! Printo customers can also create and order print products and have them
                  shipped anywhere in India or abroad. This is us. This is what we have to offer. Easy, one-stop
                  printing!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
