<div class="container-fluid">
  <div class="page-bar hint-popup">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card-box">
          <div class="card-head">
            <a routerLink="/products" id="panel-button" class="mdl-button mdl-button--icon collapsed">
              <i class="material-icons">arrow_back_ios</i>
            </a>
            <header>Product Name</header>
            <div class="tools">
              <div class="tool-btn-wrapper">
                <button routerLink="/products-edit" class="btn btn-tbl-edit btn-xs hint--top" aria-label="Edit">
                  <i class="fa fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card card-box">
        <div class="card-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="img-wrapper">
                    <img alt="image" class="product-img img-fluid"
                      src="https://api.agricanepal.com.np/people/photo_1565502243976.jpg">
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Name:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">Product Name</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Super Category:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">sCategory One</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Category:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">category Name</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Unit:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">unit54s</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Weight(Gm):</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">480gm</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Minimum Quantity:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">50</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Maximum Quantity:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">250</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Normal Price:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">150</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Urgent Price:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">450</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Additional Cost:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">400</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card card-box">
        <div class="card-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Product Code:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">s2d1</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Product Key:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">key654</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Product Profit Margin:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">5%</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Width:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">40 mm</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Height:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">60 mm</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Paper GSM:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">Lorem ipsum, dolor sit amet</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <b>Description:</b>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="info-desc-item">
                    Termites destroy many of the materials whereas it affects less in some others like
                    Wooden Sculpture. I have profound the major reasons behind this from my experiments.
                    In fact every material is strong in them. It means that there are different
                    composition of Proton, Electron and Neutron of any materials. In course of the working
                    system of termite, initially it does a small test on the objects at the surface. This
                    test verifies if the material is cellulose, organic and damp wood. If their food has
                    enough organic materials then it constructs a bunker and then a tunnel by Laving
                    process. And then they examine the required quantity of food for them. This is an
                    important symbol. During their test Worker Termite produces a special kind of chemical
                    from their body through their mouth. The chemical dries the surface. After then
                    termite starts eating the dried part as their food. If the chemical can’t dry or
                    weaken the part of the material then termite can’t make it as their food.
                    Following factors contribute to the destruction of buildings, monuments, housings etc.

                     Termite, Ants and Other Insects
                    Termite, ants and various insects have been the prominent reason for the destruction
                    of ancient properties. Record shows that termite creates a huge loss yearly in South
                    America. There have been identified more than 50 species of Termite and various
                    methods for its control have been initiated. Termites feed on wood and also destroy
                    the surface cements and also destroy the large old trees affecting the monuments
                    according to researches. Similarly, Ants also eat wood, and makes dust. This act
                    destroys the woods. This all are Organic Creatures. For removing the habitat of such
                    creatures mitigating measures as mentioned above can be bring into practice.


                     Vandalism
                    Vandalism is also another factor for the destruction. Since centuries they have been
                    destroyed by Natural disasters like wind, earthquake and due to less care for its care
                    and protection. No use of technology and experts, use of chemicals without proper
                    understanding have been deteriorating its condition.
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
