<div class="faq-page page-content-wrapper">
  <div class="page-content">
    <div class="container-fluid">

      <div class="row row-flex">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12">
          <div class="card card-box">
            <div class="card-head">
              <div class="card-header-wrapper">
                <header>FAQs</header>
                <div class="tools">
                  <div class="tool-btn-wrapper">
                    <button routerLink="/faqs-add" aria-label="Add FAQs" class="btn btn-tbl-add btn-xs hint--top">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body custom-bg">
              <div class="row">
                <div class="col-md-12 col-sm-12 about-us">
                  <div id="accordion">
                    <!---->
                    <div class="card">
                      <div class="card-header" data-toggle="collapse" href="#collapseFAQs33" aria-expanded="true"><a
                          class="card-link"> 1: Just what is termite? </a><i class="fas fa-plus"></i></div>
                      <div class="accordion-body collapse show" data-parent="#accordion" id="collapseFAQs33" style="">
                        <div class="card-body row">
                          <div class="col-lg-10">
                            <p> Termites are small social insect with distinct pale yellow, whitish
                              with dark lines to brownish black colour and primarily feed on wood materials. There are
                              various species of termites found in our ecosystem. Termites secrete a special substance
                              called pheromone which is light yellow to brown in colour with certain viscosity. Termite
                              builds up colonies in wooden structures, ground floor of buildings and severe infestation
                              occurs in those structures. Termite has different castes like king, queen, soldiers,
                              workers etc. the life cycle of termite is egg, nymphs and adults. Termite is a heavy
                              feeder and feeds gregariously upon damp wood materials and other cellulosic substances.
                            </p>
                          </div>
                          <div class="col-lg-2">
                            <div class="btn-wrapper"><button aria-label="Edit" class="btn btn-tbl-edit btn-xs hint--top"
                                routerLink="/faqs-edit"><i class="fa fa-pencil-alt"></i></button><button
                                aria-label="Delete" class="btn btn-tbl-delete btn-xs hint--top"><i
                                  class="fa fa-trash-alt"></i></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs34">
                        <a class="card-link"> 2: Why are termites different than other insects? </a><i
                          class="fas fa-plus"></i></div>
                      <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs34">
                        <div class="card-body row">
                          <div class="col-lg-10">
                            <p> Termites are well known social insects with its distinct caste system
                              to work out on colony and affected zones. Termite secretes a special alarm pheromone for
                              its communication within the group for searching food, nesting and caring of eggs. The
                              termite proceeds in a two way lining with series of messages. Termites also feeds on ants
                              and sometimes ants also feed on termites. Sometimes termite feeds on dead termites. When
                              termites bite a person, it secretes a chemical and soon dies. </p>
                          </div>
                          <div class="col-lg-2">
                            <div class="btn-wrapper"><button aria-label="Edit" class="btn btn-tbl-edit btn-xs hint--top"
                                routerLink="/faqs-edit"><i class="fa fa-pencil-alt"></i></button><button
                                aria-label="Delete" class="btn btn-tbl-delete btn-xs hint--top"><i
                                  class="fa fa-trash-alt"></i></button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header collapsed" data-toggle="collapse" href="#collapseFAQs36">
                        <a class="card-link"> 3: What do termites feed on? </a><i class="fas fa-plus"></i></div>
                      <div class="collapse accordion-body" data-parent="#accordion" id="collapseFAQs36">
                        <div class="card-body row">
                          <div class="col-lg-10">
                            <p> Termites primarily feed on cellulosic wood materials especially damp
                              wood, organic matters, papers, left over wood, bark of trees and other leaf litters,
                              stored grains, leathery materials, low grade OPC and PPC cements, stones etc. Termites
                              cannot feed upon the crux of the wood materials. </p>
                          </div>
                          <div class="col-lg-2">
                            <div class="btn-wrapper">
                              <button aria-label="Edit" class="btn btn-tbl-edit btn-xs hint--top"
                                routerLink="/faqs-edit">
                                <i class="fa fa-pencil-alt"></i>
                              </button>
                              <button aria-label="Delete" class="btn btn-tbl-delete btn-xs hint--top">
                                <i class="fa fa-trash-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
