<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card card-box">
        <div class="card-head">
          <div class="card-header-wrapper">
            <header>Users</header>
          </div>
        </div>
        <div class="card-body">
          <div class="table-wrap">
            <div class="table-responsive dataTables_wrapper">
              <table #dataTable class="table dataTable">
                <thead>
                  <tr role="row">
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Type of User</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>01</td>
                    <td>Jenish Amatya</td>
                    <td>exampl@gmail.com</td>
                    <td>9843143520</td>
                    <td>Corporate</td>
                    <td>
                      <button aria-label="view" class="btn btn-tbl-view btn-xs hint--top showModal"
                        data-target="#usersViewFormModal" data-toggle="modal">
                        <i class="fa fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Popup Modal usersViewFormModal start -->
      <div aria-labelledby="usersViewFormModal" class="modal detail-view-page-modal right fade show"
        id="usersViewFormModal" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
          <div class="modal-content">
            <div class="modal-header"><a aria-label="Close" class="modal-title" data-dismiss="modal"
                id="usersViewFormModal">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
                View Users</a>
            </div>
            <div class="modal-body">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card card-box">
                      <div class="card-head">
                        <header>Users</header>
                      </div>
                      <div class="card-body">
                        <ul class="list-group list-group-unbordered">
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>User Name</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">Name sdf</div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>Email</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">example@gmail.com</div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>Phone Number</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">9849494499</div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>Street Address</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">Tusal, Boudha</div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>Major City</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">Boudha</div>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="row">
                              <div class="col-md-4 col-sm-4"><b>Type of User</b></div>
                              <div class="col-md-8 col-sm-8">
                                <div class="info-desc-item">Corporate</div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Popup Modal usersViewFormModal close -->
    </div>
  </div>
</div>
