<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="card card-box">
        <div class="card-head">
          <div class="card-header-wrapper">
            <header>Cities</header>
            <div class="tools">
              <div class="tool-btn-wrapper">
                <button aria-label="Add" class="btn btn-tbl-add btn-xs hint--top showModal"
                  data-target="#citiesEditAddFormModal" data-toggle="modal">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-wrap">
            <div class="table-responsive dataTables_wrapper">
              <table #dataTable class="table dataTable">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>city Name</td>
                    <td>
                      <button aria-label="view" class="btn btn-tbl-view btn-xs hint--top showModal"
                        data-target="#citiesViewFormModal" data-toggle="modal">
                        <i class="fa fa-eye"></i>
                      </button>
                      <button aria-label="edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                        data-target="#citiesEditAddFormModal" data-toggle="modal">
                        <i class="fa fa-pencil-alt"></i>
                      </button>
                      <button aria-label="delete" class="btn btn-tbl-delete btn-xs hint--top">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Modal citiesViewFormModal start -->
    <div aria-labelledby="citiesViewFormModal" class="modal detail-view-page-modal right fade show"
      id="citiesViewFormModal" role="dialog" aria-modal="true">
      <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
        <div class="modal-content">
          <div class="modal-header"><a aria-label="Close" class="modal-title" data-dismiss="modal"
              id="citiesViewFormModal">
              <i aria-hidden="true" class="fa fa-angle-left"></i>
              View Cities</a>
          </div>
          <div class="modal-body">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>City Name</header>
                    </div>
                    <div class="card-body">
                      <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-4 col-sm-4"><b>Name</b></div>
                            <div class="col-md-8 col-sm-8">
                              <div class="info-desc-item">City Name</div>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-12 col-sm-12"><b>Description:
                              </b></div>
                            <div class="col-md-12 col-sm-12">
                              <div class="info-desc-item">
                                <p>Bharat Prasad Nepal is a senior researcher and M.D. of
                                  Agrica Nepal. He owns a long experience in termite management and agri trade
                                  business. He possesses sound knowledge on the pesticides, nursery management
                                  of seedlings and cut flowers and a renowned termite specialist in Nepal. He
                                  has attended several trainings on termites.</p>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup Modal citiesViewFormModal close -->

    <!-- Popup Modal citiesEditAddFormModal start -->
    <div class="modal detail-view-page-modal right fade" id="citiesEditAddFormModal" tabindex="-1" role="dialog"
      aria-labelledby="citiesEditAddFormModal" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a class="modal-title" data-dismiss="modal" aria-label="Close" id="citiesEditAddFormModal">
              <i aria-hidden="true" class="fa fa-angle-left"></i>
              Cities
            </a>
          </div>
          <div class="modal-body">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="card card-box">
                    <div class="card-head">
                      <header>Cities</header>
                    </div>
                    <div class="card-body row">
                      <form action="" class="citiesAddForm" id="citiesAddForm">
                        <div class="col-lg-12 p-t-10">
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label for="name">City Name</label>
                            <input class="mdl-textfield_input" type="text" id="name">
                          </div>
                        </div>
                        <div class="col-lg-12 p-t-10">
                          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <label for="description">Description</label>
                            <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en"
                              [fullPage]="true">
                            </ck-editor>
                          </div>
                        </div>

                        <div class="col-lg-12 p-t-10 text-center">
                          <button type="reset" class="mdl-button mdl-js-button mdl-button--raised  btn-default">
                            Reset
                          </button>
                          <button type="button" class="mdl-button mdl-js-button mdl-button--raised fill-primary">
                            Save
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Popup Modal citiesEditAddFormModal close -->
  </div>
</div>
