<div class="container-fluid">
  <div class="page-bar hint-popup">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card-box">
          <div class="card-head">
            <a routerLink="/bulk-orders" id="panel-button" class="mdl-button mdl-button--icon collapsed">
              <i class="material-icons">arrow_back_ios</i>
            </a>
            <header>Bulk Order</header>
            <div class="tools">
              <div class="tool-btn-wrapper">
                <button routerLink="/bulk-orders-edit" class="btn btn-tbl-edit btn-xs hint--top" aria-label="Edit">
                  <i class="fa fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="card card-box">
        <div class="card-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Customer Name:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">s2d1</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Product:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">key654</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Required Quantity:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">5</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <b>Message: </b>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="info-desc-item">
                    Termites destroy many of the materials whereas it affects less in some others like
                    Wooden Sculpture. I have profound the major reasons behind this from my experiments.
                    In fact every material is strong in them. It means that there are different
                    composition of Proton, Electron and Neutron of any materials. In course of the working
                    system of termite, initially it does a small test on the objects at the surface. This
                    test verifies if the material is cellulose, organic and damp wood. If their food has
                    enough organic materials then it constructs a bunker and then a tunnel by Laving
                    process. And then they examine the required quantity of food for them. This is an
                    important symbol. During their test Worker Termite produces a special kind of chemical
                    from their body through their mouth. The chemical dries the surface. After then
                    termite starts eating the dried part as their food. If the chemical can’t dry or
                    weaken the part of the material then termite can’t make it as their food.
                    Following factors contribute to the destruction of buildings, monuments, housings etc.
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
