<div class="container-fluid">
  <div class="page-bar hint-popup">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="card-box">
          <div class="card-head">
            <a routerLink="/admin" id="panel-button" class="mdl-button mdl-button--icon collapsed">
              <i class="material-icons">arrow_back_ios</i>
            </a>
            <header>Admin</header>
            <div class="tools">
              <div class="tool-btn-wrapper">
                <button routerLink="/admin/edit" class="btn btn-tbl-edit btn-xs hint--top" aria-label="Edit">
                  <i class="fa fa-pencil-alt"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="card card-box">
        <div class="card-body">
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>User Name:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">s2d1</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Email:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item">key654@gmail.com</div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Access Management Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Admin Creator Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Content Management Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Order Management Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Pricing Management Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-4 col-sm-4"><b>Product Management Module:</b></div>
                <div class="col-md-8 col-sm-8">
                  <div class="info-desc-item"><i aria-hidden="true" class="fa fa-check"></i></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
