@import '../../scss/mixin';

.row.row-flex .card.card-stats {
  height: 100%;
  min-height: 100px;
}

.card-stats {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  //   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  transition: all 0.2s ease-in-out;
}

.card.card-stats:hover {
  box-shadow: 0 1px 14px -6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card.card-stats:active {
  transform: scale(0.96);
  box-shadow: 0 1px 8px -6px rgba(0, 0, 0, 0.4);
}

.card.card-stats:focus {
  box-shadow: none;
  outline: none;
}

.card-stats .card-body {
  padding: 15px;
}

.card-stats .icon-big i {
  font-size: calc(32px + (52 - 32) * ((100vw - 300px) / (1600 - 300)));
  color: $primary-color;
}

.card-stats .card-body .numbers {
  text-align: right;
}

.card .card-category,
.card label {
  font-size: 1.4rem;
  font-weight: 400;
  color: #212121;
  margin-bottom: 0px;
}

.card-stats .card-body .numbers p {
  margin-bottom: 8px;
}

.card .card-title {
  font-size: calc(24px + (32 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #333333;
  font-weight: 500;
  margin: 0;
}

.card.fixed-h .card-body {
  height: 320px;
}
