<div class="container-fluid">

  <!-- page top bar start -->
  <div class="page-bar">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card-box">
          <div class="card-head">
            <header>Order Management</header>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page top bar close -->

  <div class="row row-flex">
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-placed">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">library_books</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Order Placed</p>
                <h4 class="card-title">15</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-processing">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">cached</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Processing</p>
                <h4 class="card-title">5</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-dispatched">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">assignment_return</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Dispatched</p>
                <h4 class="card-title">23</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-delivered">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">library_add_check</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Delivered</p>
                <h4 class="card-title">23</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 c  ol-sm-6">
      <div class="card card-stats" routerLink="/order-readyForCollection">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">collections_bookmark</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Ready For Collection</p>
                <h4 class="card-title">5</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-paymentPending">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">money_off</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Payment Pending</p>
                <h4 class="card-title">4</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-paymentReceived">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">monetization_on</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Payment Received</p>
                <h4 class="card-title">4</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="card card-stats" routerLink="/order-deferred">
        <div class="card-body ">
          <div class="row">
            <div class="col-4">
              <div class="icon-big text-center icon-warning">
                <i class="material-icons">settings_backup_restore</i>
              </div>
            </div>
            <div class="col-8">
              <div class="numbers">
                <p class="card-category">Deferred</p>
                <h4 class="card-title">4</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
