$brand-color: #21d4fd;
$brand-shade-color: #17a2b8;
$brand-dark-shade-color: #007bff;
$primary-color: #F44336;
$secondary-color: #2c7fc6;
$light-accent-color: #6fa6d5;
$light-shade-color: #e8ebe9;
$dark-accent-color: #5c6592;
$dark-shade-color: #1c213a;
$dark-bg: #222;

/*--- */

$default-color: #999999;
$info-color: #1c213a;
$success-color: #42a173;
$warning-color: #c0913b;
$danger-color: #f44336;
$white-color: #fff;
$white-color-secondary: #f1f1f1;
$border-color: #adadad;
$border-color-secondary: #9e9c9e;
$border-light-color: #f2f2f2;
$border-dark-color: #555;
$border-light-color-secondary: #dee2e6;
$input-placeholder-color: #adadad;
$sidebar-color: #212529;
$btn-tbl-view: #c0913b;
$btn-tbl-edit: #888;
$btn-tbl-delete: #f96332;

/* text color*/

$text-primary:#2c7fc6;
$text-dark: #212121;
$text-light-secondary: #a4b0a8;
$text-dark-secondary: #0b0e16;

/* for fill background-color */

$fill-primary: #2b7fc6;
$fill-light: #e8ebe9;
$fill-light-secondary: #a4b0a8;
$fill-light-secondary-bg: #ebebeb;
$fill-dark: #212121;
$fill-dark-secondary: #0b0e16;
$fill-highlight1: #6fa6d5;
$fill-highlight2: #5c6592;

$fill-orange: #FFB229;
$fill-orange-secondary: #F9D030;
$text-orange: #FFB229;
$text-orange-secondary: #F9D030;

$fill-blue: #0E85C9;
$fill-blue-secondary: #00BADE;
$text-blue: #0E85C9;
$text-blue-secondary: #00BADE;

$fill-green: #1CA862;
$fill-green-secondary: #32CD30;
$text-green: #1CA862;
$text-green-secondary: #32CD30;
