<div class="container-fluid">

  <!-- page top bar start -->
  <div class="page-bar">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card-box">
          <div class="card-head">
            <header>Homepage</header>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- page top bar close -->

  <div class="row">
    <div class="col-md-12">
      <div class="profile-tab-box">
        <ul class="nav">
          <li class="nav-item tab-all">
            <a class="nav-link active show" href="#homepageSlider" data-toggle="tab">
              Homepage Slider
            </a>
          </li>
          <li class="nav-item tab-all">
            <a class="nav-link" href="#footerManagement" data-toggle="tab">
              Footer Management
            </a>
          </li>
          <li class="nav-item tab-all">
            <a class="nav-link" href="#termsAndCondition" data-toggle="tab">
              Terms And Condition
            </a>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <!-- homepageSlider tab start -->
        <div class="tab-pane active show" id="homepageSlider">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card card-box">
                <div class="card-head">
                  <div class="card-header-wrapper">
                    <header>Homepage Slider</header>
                  </div>
                </div>
                <div class="card-body">
                  <!-- slider-one start -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="multiple-add-field">
                        <div class="inner-multiple-add-field">
                          <div class="row">
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button class="btn bg-success btn-xs">
                                1 </button>
                            </div>
                            <div class="col-lg-10">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="slider-wrapper">
                                    <div class="img-wrapper">
                                      <img alt="image" class="img-fluid"
                                        src="https://apips.printsewa.com.np/banners/tbc.jpg">
                                    </div>
                                    <div class="heading">Heading One</div>
                                    <div class="subHeading">One stop printing for businesses and individuals</div>
                                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing
                                      elit. Voluptate facere aut, mollitia dolorem dolores inventore, dolore
                                      assumenda ducimus atque odit ea libero ipsum doloribus ipsam similique
                                      eligendi perferendis possimus numquam.</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button aria-label="edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                                data-target="#homepageSliderEditAddFormModal" data-toggle="modal"><i
                                  class="fas fa-pencil-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- slider-one close -->

                  <!-- slider-two start -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="multiple-add-field">
                        <div class="inner-multiple-add-field">
                          <div class="row">
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button class="btn bg-success btn-xs">
                                1 </button>
                            </div>
                            <div class="col-lg-10">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="slider-wrapper">
                                    <div class="img-wrapper">
                                      <img alt="image" class="img-fluid"
                                        src="https://api.agricanepal.com.np/people/photo_1565502243976.jpg">
                                    </div>
                                    <div class="heading">Heading Two</div>
                                    <div class="subHeading">One stop printing for businesses and individuals</div>
                                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing
                                      elit. Voluptate facere aut, mollitia dolorem dolores inventore, dolore
                                      assumenda ducimus atque odit ea libero ipsum doloribus ipsam similique
                                      eligendi perferendis possimus numquam.</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button aria-label="edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                                data-target="#homepageSliderEditAddFormModal" data-toggle="modal"><i
                                  class="fas fa-pencil-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- slider-two close -->

                  <!-- slider-three start -->
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="multiple-add-field">
                        <div class="inner-multiple-add-field">
                          <div class="row">
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button class="btn bg-success btn-xs">
                                1 </button>
                            </div>
                            <div class="col-lg-10">
                              <div class="row">
                                <div class="col-lg-12">
                                  <div class="slider-wrapper">
                                    <div class="img-wrapper">
                                      <img alt="image" class="img-fluid"
                                        src="https://api.agricanepal.com.np/people/photo_1565502243976.jpg">
                                    </div>
                                    <div class="heading">Heading Three</div>
                                    <div class="subHeading">One stop printing for businesses and individuals</div>
                                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing
                                      elit. Voluptate facere aut, mollitia dolorem dolores inventore, dolore
                                      assumenda ducimus atque odit ea libero ipsum doloribus ipsam similique
                                      eligendi perferendis possimus numquam.</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-1 text-center flex-delete-btn">
                              <button aria-label="edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                                data-target="#homepageSliderEditAddFormModal" data-toggle="modal"><i
                                  class="fas fa-pencil-alt"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- slider-three close -->
                </div>
              </div>
            </div>
            <!-- Popup Modal homepageSliderEditAddFormModal start -->
            <div class="modal detail-view-page-modal right fade" id="homepageSliderEditAddFormModal" tabindex="-1"
              role="dialog" aria-labelledby="homepageSliderEditAddFormModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="modal-title" data-dismiss="modal" aria-label="Close" id="homepageSliderEditAddFormModal">
                      <i aria-hidden="true" class="fa fa-angle-left"></i>
                      Homepage Slider
                    </a>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="card card-box">
                            <div class="card-head">
                              <header>Slider</header>
                            </div>
                            <div class="card-body row">
                              <form action="" class="quickLinksEditForm" id="quickLinksEditForm">
                                <div class="col-lg-12 p-t-10">
                                  <div class="file-upload-wrapper row">
                                    <div class="col-lg-12">
                                      <label class="control-label" for="customFile">Slider Image</label>
                                      <div class="custom-file m-b-10">
                                        <input accept=".png,.jpg,.jpeg" class="custom-file-input homepageSlider"
                                          formcontrolname="photo" id="customFile" type="file">
                                        <label class="custom-file-label homepageSlider" for="customFile"></label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="heading">Heading</label>
                                    <input class="mdl-textfield_input" type="text" id="heading">
                                  </div>
                                </div>
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="subHeading">Sub Heading</label>
                                    <input class="mdl-textfield_input" type="text" id="subHeading">
                                  </div>
                                </div>
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="description">Description</label>
                                    <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en"
                                      [fullPage]="true">
                                    </ck-editor>
                                  </div>
                                </div>

                                <div class="col-lg-12 p-t-10 text-center">
                                  <button type="reset" class="mdl-button mdl-js-button mdl-button--raised  btn-default">
                                    Reset
                                  </button>
                                  <button type="button"
                                    class="mdl-button mdl-js-button mdl-button--raised fill-primary">
                                    Update
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal homepageSliderEditAddFormModal close -->
          </div>
        </div>
        <!-- homepageSlider tab close -->

        <!-- footerManagement tab start -->
        <div class="tab-pane" id="footerManagement">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card card-box">
                <div class="card-head">
                  <div class="card-header-wrapper">
                    <header>Footer Managements</header>
                    <div class="tools">
                      <div class="tool-btn-wrapper">
                        <button aria-label="Add" class="btn btn-tbl-add btn-xs hint--top showModal"
                          data-target="#footerManagementEditAddFormModal" data-toggle="modal">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-wrap">
                    <div class="table-responsive dataTables_wrapper">
                      <table #dataTable class="table dataTable">
                        <thead>
                          <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>Rush John</td>
                            <td>
                              <button aria-label="view" class="btn btn-tbl-view btn-xs hint--top showModal"
                                data-target="#footerManagementViewFormModal" data-toggle="modal">
                                <i class="fa fa-eye"></i>
                              </button>
                              <button aria-label="edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                                data-target="#footerManagementEditAddFormModal" data-toggle="modal">
                                <i class="fa fa-pencil-alt"></i>
                              </button>
                              <button aria-label="delete" class="btn btn-tbl-delete btn-xs hint--top">
                                <i class="fa fa-trash-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal footerManagementViewFormModal start -->
            <div aria-labelledby="footerManagementViewFormModal" class="modal detail-view-page-modal right fade show"
              id="footerManagementViewFormModal" role="dialog" aria-modal="true">
              <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header"><a aria-label="Close" class="modal-title" data-dismiss="modal"
                      id="footerManagementViewFormModal">
                      <i aria-hidden="true" class="fa fa-angle-left"></i>
                      View Footer Management</a>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="card card-box">
                            <div class="card-head">
                              <header>Footer Management</header>
                            </div>
                            <div class="card-body">
                              <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                  <div class="row">
                                    <div class="col-md-4 col-sm-4"><b>Name</b></div>
                                    <div class="col-md-8 col-sm-8">
                                      <div class="info-desc-item">sdf4 fg</div>
                                    </div>
                                  </div>
                                </li>
                                <li class="list-group-item">
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12"><b>Description:
                                      </b></div>
                                    <div class="col-md-12 col-sm-12">
                                      <div class="info-desc-item">
                                        <p>Bharat Prasad Nepal is a senior researcher and M.D. of
                                          Agrica Nepal. He owns a long experience in termite management and agri trade
                                          business. He possesses sound knowledge on the pesticides, nursery management
                                          of seedlings and cut flowers and a renowned termite specialist in Nepal. He
                                          has attended several trainings on termites.</p>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal footerManagementViewFormModal close -->

            <!-- Popup Modal footerManagementEditAddFormModal start -->
            <div class="modal detail-view-page-modal right fade" id="footerManagementEditAddFormModal" tabindex="-1"
              role="dialog" aria-labelledby="footerManagementEditAddFormModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-custom-width-sm" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="modal-title" data-dismiss="modal" aria-label="Close"
                      id="footerManagementEditAddFormModal">
                      <i aria-hidden="true" class="fa fa-angle-left"></i>
                      Footer Management
                    </a>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="card card-box">
                            <div class="card-head">
                              <header>Footer Management</header>
                            </div>
                            <div class="card-body row">
                              <form action="" class="footerManagementAddForm" id="footerManagementAddForm">
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="name">Name</label>
                                    <input class="mdl-textfield_input" type="text" id="name">
                                  </div>
                                </div>
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="description">Description</label>
                                    <!-- <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en"
                                      [fullPage]="true">
                                    </ck-editor> -->
                                  </div>
                                </div>

                                <div class="col-lg-12 p-t-10 text-center">
                                  <button type="reset" class="mdl-button mdl-js-button mdl-button--raised  btn-default">
                                    Reset
                                  </button>
                                  <button type="button"
                                    class="mdl-button mdl-js-button mdl-button--raised fill-primary">
                                    Save
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal footerManagementEditAddFormModal close -->
          </div>
        </div>
        <!-- footerManagement tab close -->

        <!-- termsAndCondition tab start -->
        <div class="tab-pane" id="termsAndCondition">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="card card-box fixed-h">
                <div class="card-head">
                  <div class="card-header-wrapper">
                    <header>Terms and Condition</header>
                    <div class="tools">
                      <div class="tool-btn-wrapper">
                        <button aria-label="Edit" class="btn btn-tbl-edit btn-xs hint--top showModal"
                          data-target="#termsAndConditionEditAddFormModal" data-toggle="modal">
                          <i class="fa fa-pencil-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 about-us">
                      <div class="info-desc-item">
                        <p>1. Limitation of Liability
                          Perhaps the most important reason it's a good idea to have a Terms and Conditions agreement
                          for your ecommerce store is that it allows you to legally limit your liabilities and prevent
                          customer litigation.

                          This clause lets your customers know that you or your business will not be held responsible in
                          case of any liability issues. These may be related to personal injury, death, fraudulent
                          misrepresentation, defective items or other product, service or delivery problems.

                          Often, the Limitation of Liability clause is written in all caps or a bold font in order to
                          convey its importance and to draw attention to it.</p>
                        <p>2. Intellectual Property/Trademarks
                          As the owner of an ecommerce store, you likely have unique items, designs, content or other
                          proprietary rights that you want to protect. You can do this with a properly written clause
                          dedicated to establishing your Intellectual Property Rights.

                          The Terms and Conditions agreement gives you a platform to declare what falls under your
                          intellectual property, what the rules are for using those items or information, and what
                          happens if an individual violates your intellectual property rights.

                          Let's look at this example from the Intellectual Property, Software and Content clause of
                          the ASOS Terms and Conditions. This clause states that the software and content available
                          through the website belongs to ASOS or its licensors and is protected by copyright laws. It
                          goes on to explain what customers can and cannot do with the content or software.</p>
                        <p>3. Pricing and Payment Terms
                          Product prices are almost always subject to change, and your right to make these changes
                          should be established in a dedicated Pricing or Payments clause. Other details of customer
                          transactions, such as shipping, returns, refunds and discounts also should be addressed in
                          this clause in order to give you the legal rights to manage these matters in the interest
                          of your online store.

                          For example, the Terms and Conditions page on the Manolo Blahnik website includes a Price
                          and Payment clause that explains that prices of the products listed on the site and their
                          delivery costs may be changed at any time. It also establishes that the ecommerce store
                          only accepts payments made through credit or debit cards on the checkout page.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal termsAndConditionEditAddFormModal start -->
            <div class="modal detail-view-page-modal right fade" id="termsAndConditionEditAddFormModal" tabindex="-1"
              role="dialog" aria-labelledby="termsAndConditionEditAddFormModal" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-custom-width" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <a class="modal-title" data-dismiss="modal" aria-label="Close"
                      id="termsAndConditionEditAddFormModal">
                      <i aria-hidden="true" class="fa fa-angle-left"></i>
                      Terms And Condition
                    </a>
                  </div>
                  <div class="modal-body">
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                          <div class="card card-box">
                            <div class="card-head">
                              <header>Terms And Condition</header>
                            </div>
                            <div class="card-body row">
                              <form action="" class="contactUsAddForm" id="contactUsAddForm">
                                <div class="col-lg-12 p-t-10">
                                  <div
                                    class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    <label for="condition">Condition</label>
                                    <ck-editor name="editor1" [(ngModel)]="editorValue" skin="moono-lisa" language="en"
                                      [fullPage]="true">
                                    </ck-editor>
                                  </div>
                                </div>

                                <div class="col-lg-12 p-t-10 text-center">
                                  <button type="reset" class="mdl-button mdl-js-button mdl-button--raised  btn-default">
                                    Reset
                                  </button>
                                  <button type="button"
                                    class="mdl-button mdl-js-button mdl-button--raised fill-primary">
                                    Update
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Popup Modal termsAndConditionEditAddFormModal close -->
          </div>
        </div>
        <!-- termsAndCondition tab close -->
      </div>
    </div>
  </div>
</div>
